@font-face {
    font-family:"Syncopate-Bold";
    src: url("font/Syncopate/Syncopate-Bold.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    font-family:"Syncopate-Bold";
    font-weight: 800;
    font-size: 21px;
    color: #fff;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    font-family:"Syncopate-Bold";
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    margin-left: 50px;
    list-style: none;
    text-transform: capitalize;
    cursor: pointer;
}
.nav ul li:hover{
     background:linear-gradient(to bottom,#8DA4EA,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    font-family:"Syncopate-Bold";
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    border: 1px solid #8DA4EA;
    padding: 10px 25px;
    border-top-left-radius: 10px;
    background: transparent;
}
.content h1{
    font-family:"Syncopate-Bold";
    font-weight: 800;
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    margin-top: 3%;
}
.content h1 span{
    background:linear-gradient(to bottom,#8DA4EA,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.content p{
    font-family:"Syncopate-Bold";
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    line-height: 24px;
    padding: 30px 0px 40px;
}
.center-btn{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.content button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.content .btn span {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}
.earth-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    position: relative;
}
.earth-img::before {
    content: '';
    position: absolute;
    background-image: url("img/globe.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 210px;
    width: 145px;
    height: 145px;
}
.earth-img::after {
    content: '';
    position: absolute;
    background-image: url(img/space-research.png);
    background-repeat: no-repeat;
    right: 120px;
    top: -204px;
    width: 35%;
    height: 147%;
}